
*{
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}

.container1{

 background-color: rgb(0, 0, 0);
 display:ruby-base;
 justify-content: space-around ;


}







header{ 
      color: rgb(0, 0, 0);
      padding: 10px;
      height: 15vh; 
}

ul{
    top:10%;
    right:-19%; 
    color:aliceblue;
    position:absolute;
    transform:translate(-50%,-50%);
    padding: 2%;
   text-align:right;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size-adjust: auto;
    font-size: 20px;
    font-weight: 200;
    word-spacing: 10px;
    
 }

a{
    text-decoration:none;
    color:rgb(255, 255, 255);
}
a:hover{
    color:darkgreen;
    text-decoration:none;
}
 li{

  display:inline;
  margin:6px;

 }
#logo{
    margin-top:auto;
    margin-bottom:auto;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px;
    width: auto; 

 }
    
 #middle{
    position:absolute;
    left:6.8%;
    bottom:81%;
    text-align:bottom;
    transform:translate(-5%,5%,-40%);
    font-size: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
 }

 #postmiddle{
    color:aliceblue;
    text-align:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:25px;
 }


.earch-container{
    position:absolute;
    right: 100px;
    top: 0;
    

  
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
    
    text-align: right;
}


.h10{
    color:rgb(255, 251, 251);
    font-family: sans-serif;
}









footer{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    position:bottom;
    bottom: 1%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}
button{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
    border: 2px solid aliceblue;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom:10%;
    left:-10%;
}

#rowp{
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200;
    word-spacing: 10px;
    text-align: left;
    bottom:10%;
    left:-10%;
  
}

ol{
    list-style-type:circle;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200;
    word-spacing: 10px;
    text-align: left;
    bottom:10%;
    left:-10%;
}
ol::marker {
    color:darkgreen;
}


header {
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-size: 24px;
}






.container2 {
    width: 99%;
    margin: 2px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0b0b;
    text-align: center;
    background-image: url('C:\Users\kiran\Desktop\Web-project\Other Img\backgoundimg.jpeg');
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


}
/* from here the other code  */

.club-container {

    display:auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 200px;;
}








.club-card {
    background: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
    margin-bottom: 20px;;
}
.stadium-img {
    width: 100%;
    border-radius: 80x;
}
.side-container {
    display: flex;
    gap: 20px;
}


.founder-img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-top: 200px;
    
}

.founder{
    color: rgb(255, 255, 255);
    text-align: left;
    margin-top: 320px;
    margin-left: -125px;
}


.info-box {
    
    padding: 10px;
    background: #eee;
    BORDER: 2PX SOLID #000000;
    border-radius: 5px;
    text-align: center;
    transform:translate(250%,-200%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:#333;
    margin-top: 10px;
    background-color: aqua;
    

}



.infoadasarathstadium{
position:relative;
   margin-top: -240px;
   margin-bottom: 10px;
   
}